---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const {
  author = 'Ryan Furrer',
  description,
  pubDate,
  title,
  updatedDate,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="mx-auto max-w-screen-md space-y-8">
    <Header />
    <main class="space-y-4">
      <article class="pt-8">
        <div class="space-y-4">
          <div
            class="flex h-64 max-h-64 min-h-64 flex-col justify-center space-y-2 rounded-lg bg-gradient-to-br from-emerald-600 via-teal-900 to-zinc-950 to-80% px-4 text-zinc-100 dark:from-emerald-600/80 dark:via-teal-900/75"
          >
            <div class="text-sm opacity-75">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="text-sm italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="text-zinc-50">{title}</h1>
            <p class="text-sm opacity-75">Written by {author}</p>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
